In [53]:
import pandas as pd

In [54]:
movies_metadata = pd.read_csv('movies_metadata.csv')
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')
links_small = pd.read_csv('links_small.csv')
links_small = links_small.rename(columns={"imdbId": "imdb_id"})

C:\Users\Kunal Arya\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
links_small = links_small["imdb_id"].map(lambda x: "tt0" + str(x))

In [56]:
credit_key = pd.merge(credits, keywords, how='outer')
credit_key

,cast,crew,id,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...
46491,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,"[{'id': 10703, 'name': 'tragic love'}]"
46492,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,..."
46493,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,[]
46494,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,[]
46495,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,[]

In [57]:
new_movies = movies_metadata.drop([19730, 29503, 35587])
new_movies["id"] = pd.to_numeric(new_movies["id"])

In [58]:
all_df = pd.merge(new_movies, credit_key)
all_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46623,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...","[{'id': 10703, 'name': 'tragic love'}]"
46624,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...","[{'id': 2679, 'name': 'artist'}, {'id': 14531,..."
46625,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",[]
46626,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,[],Released,NaN,Satan Triumphant,False,0.0,0.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",[]
46627,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",[]

In [59]:
all_df = all_df[all_df["status"] == "Released"]

In [60]:
small_df = pd.merge(all_df, links_small)

In [61]:
small_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 10769, '...",NaN,104548,tt0165473,ja,修羅,"Gengobe Satsuma, an exiled samurai cast out as...",...,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Demons,False,8.6,11.0,"[{'cast_id': 4, 'character': 'Gengobe Satsuma'...","[{'credit_id': '52fe4a37c3a36847f81c1743', 'de...",[]
4494,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,26677,tt0155350,en,The Video Dead,A supernatural TV is mistakenly delivered to a...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Look what's living inside your television!,The Video Dead,False,5.0,20.0,"[{'cast_id': 3, 'character': 'Zoe Blair', 'cre...","[{'credit_id': '52fe4512c3a368484e046f03', 'de...","[{'id': 12377, 'name': 'zombie'}]"
4495,False,NaN,180000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://legendoftarzan.com,258489,tt0918940,en,The Legend of Tarzan,"Tarzan, having acclimated to life in London, i...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Human. Nature.,The Legend of Tarzan,False,5.5,2488.0,"[{'cast_id': 1, 'character': 'John Clayton / T...","[{'credit_id': '535a4469c3a36847a900129c', 'de...","[{'id': 409, 'name': 'africa'}, {'id': 5650, '..."
4496,False,NaN,8000000,"[{'id': 18, 'name': 'Drama'}]",NaN,159550,tt0255313,en,The Last Brickmaker in America,A man must cope with the loss of his wife and ...,...,[],Released,NaN,The Last Brickmaker in America,False,7.0,1.0,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...","[{'id': 6054, 'name': 'friendship'}, {'id': 20..."
4497,False,NaN,125000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.hbo.com/band-of-brothers,331214,tt0185906,en,Band of Brothers,Drawn from interviews with survivors of Easy C...,...,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Ordinary men. Extraordinary times.,Band of Brothers,False,8.2,725.0,"[{'cast_id': 1, 'character': 'Lt. Richard D. W...","[{'credit_id': '56731cd9c3a368070c002fbd', 'de...","[{'id': 1956, 'name': 'world war ii'}, {'id': ..."

In [43]:
c = "belongs_to_collection, genres, imdb_id, original_language, overview, popularity, release_date, runtime, tagline, title, vote_average, cast, crew, keywords" 
filtered_columns = c.split(", ")
small_df = small_df[filtered_columns]

In [45]:
import numpy as np
small_df["belongs_to_collection"] = small_df["belongs_to_collection"].fillna("{}")
small_df["genres"] = small_df["genres"].fillna("{}")
small_df["cast"] = small_df["cast"].fillna("{}")
small_df["crew"] = small_df["crew"].fillna("{}")
small_df["keywords"] = small_df["keywords"].fillna("{}")
small_df

C:\Users\Kunal Arya\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Kunal Arya\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Kunal Arya\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Kunal Arya\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Kunal Arya\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,belongs_to_collection,genres,imdb_id,original_language,overview,popularity,release_date,runtime,tagline,title,vote_average,cast,crew,keywords
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,1995-10-30,81.0,NaN,Toy Story,7.7,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,{},"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,en,When siblings Judy and Peter discover an encha...,17.0155,1995-12-15,104.0,Roll the dice and unleash the excitement!,Jumanji,6.9,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",tt0113228,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,101.0,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,{},"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,1995-12-22,127.0,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",tt0113041,en,Just when George Banks has recovered from his ...,8.38752,1995-02-10,106.0,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493,{},"[{'id': 27, 'name': 'Horror'}, {'id': 10769, '...",tt0165473,ja,"Gengobe Satsuma, an exiled samurai cast out as...",0.012236,1971-02-13,135.0,NaN,Demons,8.6,"[{'cast_id': 4, 'character': 'Gengobe Satsuma'...","[{'credit_id': '52fe4a37c3a36847f81c1743', 'de...",[]
4494,{},"[{'id': 27, 'name': 'Horror'}]",tt0155350,en,A supernatural TV is mistakenly delivered to a...,1.381441,1987-11-06,90.0,Look what's living inside your television!,The Video Dead,5.0,"[{'cast_id': 3, 'character': 'Zoe Blair', 'cre...","[{'credit_id': '52fe4512c3a368484e046f03', 'de...","[{'id': 12377, 'name': 'zombie'}]"
4495,{},"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt0918940,en,"Tarzan, having acclimated to life in London, i...",45.38298,2016-06-29,109.0,Human. Nature.,The Legend of Tarzan,5.5,"[{'cast_id': 1, 'character': 'John Clayton / T...","[{'credit_id': '535a4469c3a36847a900129c', 'de...","[{'id': 409, 'name': 'africa'}, {'id': 5650, '..."
4496,{},"[{'id': 18, 'name': 'Drama'}]",tt0255313,en,A man must cope with the loss of his wife and ...,0.038998,2001-09-23,85.0,NaN,The Last Brickmaker in America,7.0,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...","[{'id': 6054, 'name': 'friendship'}, {'id': 20..."
4497,{},"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",tt0185906,en,Drawn from interviews with survivors of Easy C...,7.903731,2001-09-09,705.0,Ordinary men. Extraordinary times.,Band of Brothers,8.2,"[{'cast_id': 1, 'character': 'Lt. Richard D. W...","[{'credit_id': '56731cd9c3a368070c002fbd', 'de...","[{'id': 1956, 'name': 'world war ii'}, {'id': ..."

In [47]:
import ast
test = small_df
convert_columns = ["belongs_to_collection", "genres", "cast", "crew", "keywords"]

for convert in convert_columns:
    test[convert] = test[convert].map(lambda x: ast.literal_eval(x))
test

C:\Users\Kunal Arya\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,belongs_to_collection,genres,imdb_id,original_language,overview,popularity,release_date,runtime,tagline,title,vote_average,cast,crew,keywords
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,1995-10-30,81.0,NaN,Toy Story,7.7,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,{},"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,en,When siblings Judy and Peter discover an encha...,17.0155,1995-12-15,104.0,Roll the dice and unleash the excitement!,Jumanji,6.9,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",tt0113228,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,101.0,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,{},"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,1995-12-22,127.0,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",tt0113041,en,Just when George Banks has recovered from his ...,8.38752,1995-02-10,106.0,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493,{},"[{'id': 27, 'name': 'Horror'}, {'id': 10769, '...",tt0165473,ja,"Gengobe Satsuma, an exiled samurai cast out as...",0.012236,1971-02-13,135.0,NaN,Demons,8.6,"[{'cast_id': 4, 'character': 'Gengobe Satsuma'...","[{'credit_id': '52fe4a37c3a36847f81c1743', 'de...",[]
4494,{},"[{'id': 27, 'name': 'Horror'}]",tt0155350,en,A supernatural TV is mistakenly delivered to a...,1.381441,1987-11-06,90.0,Look what's living inside your television!,The Video Dead,5.0,"[{'cast_id': 3, 'character': 'Zoe Blair', 'cre...","[{'credit_id': '52fe4512c3a368484e046f03', 'de...","[{'id': 12377, 'name': 'zombie'}]"
4495,{},"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt0918940,en,"Tarzan, having acclimated to life in London, i...",45.38298,2016-06-29,109.0,Human. Nature.,The Legend of Tarzan,5.5,"[{'cast_id': 1, 'character': 'John Clayton / T...","[{'credit_id': '535a4469c3a36847a900129c', 'de...","[{'id': 409, 'name': 'africa'}, {'id': 5650, '..."
4496,{},"[{'id': 18, 'name': 'Drama'}]",tt0255313,en,A man must cope with the loss of his wife and ...,0.038998,2001-09-23,85.0,NaN,The Last Brickmaker in America,7.0,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...","[{'id': 6054, 'name': 'friendship'}, {'id': 20..."
4497,{},"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",tt0185906,en,Drawn from interviews with survivors of Easy C...,7.903731,2001-09-09,705.0,Ordinary men. Extraordinary times.,Band of Brothers,8.2,"[{'cast_id': 1, 'character': 'Lt. Richard D. W...","[{'credit_id': '56731cd9c3a368070c002fbd', 'de...","[{'id': 1956, 'name': 'world war ii'}, {'id': ..."

In [52]:
test.to_json('small_movie_data.json', orient="index")